.loader{
    background-color: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.loader p {
    text-align: center;
    width: 100%;
    color: white;
}
