@import url('https://fonts.googleapis.com/css?family=Poppins:700|Mingzat:400');

body {
    font-family: Poppins, serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: Poppins, serif;
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 3.366rem; /* 53.92px */
}

h2 {
    font-size: 2.525rem; /* 40.32px */
}

h3 {
    font-size: 1.894rem; /* 30.24px */
}

h4 {
    font-size: 1.421rem; /* 22.72px */
}

h5 {
    font-size: 1.066rem; /* 17.12px */
}

small {
    font-size: 0.600rem; /* 9.6px */
}

body {
    /*background: linear-gradient(-20deg, rgba(0, 0, 0, 0.05), #d78eda), linear-gradient(45deg, #d172b5, #5062c6 80%);*/
    overflow-y: hidden;
}

.menu-opened {
    background-color: #E25A64 !important;
    color: white;
}

.home {
    /*background-color: #F4EEDA;*/
    /*
    background: rgb(193,28,28);
    background: linear-gradient(90deg, rgba(193,28,28,1) 0%, rgba(9,9,121,1) 34%, rgba(8,25,131,1) 40%, rgba(175,0,255,1) 100%);
     */
    background-color: #F5EFE6;
    transition: all 2s cubic-bezier(0.25, 0.1, 0, 0.98);
}

.content-home {
    width: 100vw;
    height: 100vh;
    display: none;
}

.cursor{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 2;
    transition: border, background-color, background, transform .2s ease-in-out;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader::after {
    content: "";
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}